/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300|Oleo+Script:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, p, a {
  -webkit-font-smoothing: antialiased;
  font-size: 11pt;
  color: #333;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

p {
  margin: 0 0 7px;
  line-height: 1.4; }

h1, h2, h3, h4 {
  font-weight: bold; }

h1 {
  font-size: 24pt; }

h2 {
  font-size: 20pt; }

h3 {
  font-size: 16pt; }

::-webkit-input-placeholder {
  color: #0573fc; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #0573fc; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #0573fc; }

:-ms-input-placeholder {
  color: #0573fc; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.seperator {
  height: 10px;
  background-color: #0251B3;
  margin: 20px auto; }

.title {
  font-family: 'Oleo Script', cursive; }

.wrapper {
  width: 98%;
  max-width: 1300px;
  margin: 0 auto; }

.single #content.wrapper {
  max-width: 1300px;
  margin: 30px auto; }

#content.wrapper h1 {
  margin: 0 0 7px; }

#header {
  box-sizing: border-box;
  margin: 10px auto 5px;
  position: relative;
  width: 100%; }
  #header > .wrapper {
    overflow: hidden;
    margin: 0 auto;
    min-height: 70px; }
  #header #logo {
    color: #E41A1F;
    letter-spacing: -2px;
    line-height: 0.9;
    text-indent: 1%;
    width: 255px;
    float: left; }
    #header #logo h1 {
      font-size: 45pt; }
  #header #nav {
    float: right;
    margin: 20px 0 0 0; }
    #header #nav li {
      float: left;
      margin-right: 7px; }
      #header #nav li:last-child {
        margin-right: 0; }
      #header #nav li a {
        color: #fff;
        background-color: #E41A1F;
        display: block;
        padding: 5px 10px 7px;
        border-radius: 4px;
        text-align: center; }
  #header #border {
    background-color: #0251B3;
    position: relative;
    overflow: hidden; }
    #header #border .wrapper {
      position: relative; }
    #header #border p {
      color: #fff;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      letter-spacing: 0;
      padding: 0px 0 7px 8px;
      margin: 0;
      font-size: 16pt; }
    #header #border #searchform {
      position: absolute;
      right: 0;
      top: 5px;
      margin: 0;
      width: 55%; }
      #header #border #searchform input {
        background: #02469a;
        border: none;
        font-size: 10pt;
        box-sizing: border-box;
        padding: 0;
        width: 0;
        position: absolute;
        right: 40px;
        color: #eee;
        height: 27px; }
      #header #border #searchform a {
        color: #0573fc;
        font-size: 17pt;
        position: absolute;
        right: 0; }

.filter {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 15;
  position: absolute; }

.filter-red {
  background-color: #E41A1F; }

.filter-blue {
  background-color: #0251B3; }

.red .title a {
  background: #E41A1F;
  color: #fff; }

.red .filter {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,e41a1f+100&amp;0+0,1+100 */
  background: radial-gradient(ellipse at center, rgba(228, 26, 31, 0.4) 20%, rgba(228, 26, 31, 0.7) 100%);
  /* W3C */ }

.blue .title a {
  background: #0251B3;
  color: #fff; }

.blue .filter {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,e41a1f+100&amp;0+0,1+100 */
  background: radial-gradient(ellipse at center, rgba(2, 81, 179, 0.4) 20%, rgba(2, 81, 179, 0.7) 100%);
  /* W3C */ }

.search-results > #content.wrapper {
  margin-top: 30px; }

.serp_item {
  margin: 0 0 20px 0; }
  .serp_item h2.title a {
    font-size: 22pt; }
  .serp_item .featured_image {
    width: 30%;
    float: left;
    margin: 0 10px 0 0; }
    .serp_item .featured_image img {
      width: 100%; }
  .serp_item .post_excerpt {
    float: left; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #0251B3; }
  #footer #footerMenu {
    width: 230px;
    margin: 12px auto 0; }
    #footer #footerMenu li {
      float: left;
      margin: 0;
      padding: 0 2%;
      border-right: 1px solid #0573fc; }
      #footer #footerMenu li a {
        color: #0573fc; }
      #footer #footerMenu li:last-child {
        border-right: none; }

.gallery .gallery-item, #showcase .gallery-item {
  position: relative;
  float: left;
  margin: 5px;
  width: 300px;
  height: 225px;
  overflow: hidden; }
  .gallery .gallery-item:hover, #showcase .gallery-item:hover {
    cursor: pointer; }
  .gallery .gallery-item .gallery-icon, #showcase .gallery-item .gallery-icon {
    position: relative; }
    .gallery .gallery-item .gallery-icon > a, #showcase .gallery-item .gallery-icon > a {
      position: relative; }
      .gallery .gallery-item .gallery-icon > a img, #showcase .gallery-item .gallery-icon > a img {
        max-width: 100%;
        height: 100%; }
  .gallery .gallery-item > .back, #showcase .gallery-item > .back {
    padding: 10px;
    box-sizing: border-box; }
    .gallery .gallery-item > .back p, #showcase .gallery-item > .back p {
      color: #fff;
      text-transform: uppercase;
      font-size: 14pt;
      font-weight: bold; }
    .gallery .gallery-item > .back a#action, .gallery .gallery-item > .back a, #showcase .gallery-item > .back a#action, #showcase .gallery-item > .back a {
      position: absolute;
      bottom: 5%;
      right: 5%;
      color: #fff;
      font-size: 14pt; }
    .gallery .gallery-item > .back a#photo, #showcase .gallery-item > .back a#photo {
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: #fff;
      font-size: 14pt;
      width: 20px; }

.gallery .red.card .back, #showcase .red.card .back {
  background-color: #E41A1F; }

.gallery .blue.card .back, #showcase .blue.card .back {
  background-color: #0251B3; }

#hero .hero-left {
  width: 70%;
  float: left;
  position: relative; }
  #hero .hero-left .hero-block {
    position: relative;
    height: 350px;
    overflow: hidden; }
    #hero .hero-left .hero-block .message {
      position: absolute;
      top: 1%;
      left: 1%;
      z-index: 25; }
      #hero .hero-left .hero-block .message h2, #hero .hero-left .hero-block .message p {
        color: #fff; }
      #hero .hero-left .hero-block .message h2 {
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 42pt;
        letter-spacing: -5px;
        line-height: 1;
        margin: 10px auto 0;
        text-transform: uppercase; }
      #hero .hero-left .hero-block .message p {
        font-size: 14pt; }
    #hero .hero-left .hero-block .more {
      position: absolute;
      bottom: 3%;
      right: 2%;
      color: #9f1216;
      opacity: .9;
      font-size: 24pt;
      z-index: 25; }
      #hero .hero-left .hero-block .more:hover {
        opacity: 1;
        color: #81171a; }
    #hero .hero-left .hero-block img {
      opacity: 0.7;
      position: relative;
      z-index: 0;
      max-width: 100%; }

#hero .hero-right {
  float: right;
  width: 29%; }
  #hero .hero-right #message1 {
    font-weight: 900;
    font-size: 17pt;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    border-bottom: 5px solid #0251B3;
    padding: 0px 5px 0px 45px;
    position: relative;
    line-height: 1.65; }
    #hero .hero-right #message1 .fa {
      font-size: 28pt;
      position: absolute;
      left: 0; }
  #hero .hero-right #message2 {
    border-bottom: 5px solid #0251B3;
    font-weight: 500;
    font-size: 10pt;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 0px 0px 5px;
    position: relative;
    color: #555;
    text-align: center; }
  #hero .hero-right #message3, #hero .hero-right #message4 {
    height: 135px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative; }
    #hero .hero-right #message3 p, #hero .hero-right #message4 p {
      position: absolute; }
    #hero .hero-right #message3 a, #hero .hero-right #message4 a {
      float: left; }
    #hero .hero-right #message3 img, #hero .hero-right #message4 img {
      max-width: 100%; }
  #hero .hero-right li:last-child {
    margin-bottom: 0; }

#projects {
  width: 70%;
  float: left; }
  #projects #projects_and_highlights {
    margin-bottom: 5px; }
    #projects #projects_and_highlights li {
      float: left;
      width: 50%; }
      #projects #projects_and_highlights li a {
        display: block;
        background: #E41A1F;
        color: #eee;
        padding: 5px;
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: -1px; }
      #projects #projects_and_highlights li:last-child a {
        background: #0251B3; }
  #projects #project_content {
    position: relative; }
    #projects #project_content .post {
      margin-bottom: 5px; }
      #projects #project_content .post .featured_image {
        position: relative;
        width: 40%;
        float: left;
        margin-right: 1%; }
        #projects #project_content .post .featured_image img {
          width: 100%; }
        #projects #project_content .post .featured_image .filter {
          opacity: .7; }
      #projects #project_content .post .post_excerpt {
        width: 59%;
        float: left; }
        #projects #project_content .post .post_excerpt .title {
          line-height: 1;
          margin: 0 0 5px;
          padding: 0; }
          #projects #project_content .post .post_excerpt .title a {
            display: block;
            font-size: 17pt;
            text-transform: uppercase;
            letter-spacing: -1px;
            padding: 5px 15px; }
    #projects #project_content #more {
      background: #0251B3;
      display: block;
      color: #fff;
      text-align: center;
      position: absolute;
      width: 535px;
      right: 0;
      box-sizing: border-box;
      padding: 2px 0;
      bottom: 1px; }
      #projects #project_content #more:hover {
        background: #0368e5; }

#testimonials {
  width: 29%;
  float: right;
  min-height: 100px;
  background: red; }

.home #content.wrapper {
  margin-bottom: 50px; }

.page #content.wrapper {
  margin: 30px auto 50px; }

.single .post .featured_image h2 {
  font-size: 24pt;
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 55%;
  line-height: 1;
  margin: -7px auto 5px; }

.single .post .featured_image img {
  float: left;
  margin-right: 20px;
  max-width: 40%;
  border: 1px solid #555;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #333; }

.single .post_meta {
  float: left;
  width: 55%; }

#social li {
  float: left;
  margin: 0 10px 0 0; }

/**** Individual Pages ****************************************************************************************/
#galleryWrapper h1 {
  color: #E41A1F;
  text-align: center; }

#aboutContent {
  border-top: 5px solid #0251B3;
  width: 95%;
  margin: 0 auto 50px;
  padding-top: 10px;
  overflow: hidden; }
  #aboutContent h2 {
    margin: 0 0 6px 0;
    text-transform: uppercase;
    letter-spacing: -1px; }
  #aboutContent h4 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 8pt;
    font-family: arial, sans-serif;
    color: #555;
    font-style: italic; }
  #aboutContent .left {
    width: 60%;
    float: left;
    margin-right: 5%; }
    #aboutContent .left p {
      margin: 0 0 12px; }
  #aboutContent .right {
    float: right;
    width: 25%;
    padding: 10px 10px 40px;
    box-sizing: border-box;
    border-left: 1px solid #0251B3;
    text-align: center; }
    #aboutContent .right p:nth-child(2) {
      font-weight: bold;
      margin: 10px 0; }
    #aboutContent .right p {
      margin: 0 0 4px;
      line-height: 1; }

#gallery-1.gallery {
  width: 70%;
  overflow: hidden;
  margin: 10px auto 20px; }
  #gallery-1.gallery .gallery-item {
    width: 20%;
    min-width: 230px;
    min-height: 345px;
    height: initial;
    margin: 0 1% 10px 0;
    padding: 0 0 10px;
    float: left;
    box-sizing: border-box; }
    #gallery-1.gallery .gallery-item .gallery-icon.portrait {
      float: left;
      width: 100%; }
      #gallery-1.gallery .gallery-item .gallery-icon.portrait a {
        float: left;
        display: block;
        width: 100%; }
        #gallery-1.gallery .gallery-item .gallery-icon.portrait a:hover {
          cursor: default; }
        #gallery-1.gallery .gallery-item .gallery-icon.portrait a img {
          border: 1px solid #555; }

#services-grid {
  float: left;
  margin: 0 auto 15px;
  border-bottom: 1px solid #555; }
  #services-grid ul {
    float: left; }
    #services-grid ul li {
      float: left;
      margin: 0 10px 15px 0;
      width: 30%; }
      #services-grid ul li h2 {
        font-size: 17pt;
        margin: 0 0 4px;
        text-transform: uppercase;
        letter-spacing: -2px; }
      #services-grid ul li img {
        max-width: 100%;
        border: 1px solid #333; }

#service-wrapper h2, #industries-wrapper h2 {
  margin: 0 0 7px;
  color: #0251B3; }

#service-wrapper h4, #industries-wrapper h4 {
  text-transform: uppercase; }

#service-wrapper {
  margin: 0 auto 20px; }

#industries-wrapper h2 {
  margin: 0 0 7px;
  color: #0251B3; }

.page.page-id-57 #content.wrapper {
  overflow: hidden; }

.location, .contact-block {
  position: relative;
  float: left;
  width: 49%;
  min-width: 410px;
  margin: 0 1% 1% 0; }
  .location .block, .contact-block .block {
    box-sizing: border-box;
    padding: 7px;
    min-height: 150px; }

#duluth address, #duluth .block, .contact-block address, .contact-block .block {
  background: #E41A1F; }
  #duluth address h2, #duluth .block h2, .contact-block address h2, .contact-block .block h2 {
    color: #961114; }

#duluth .fa-map-marker, .contact-block .fa-map-marker {
  color: #9f1216; }
  #duluth .fa-map-marker:hover, .contact-block .fa-map-marker:hover {
    color: #ed5e61; }

#gainesville address {
  background: #0251B3; }

#gainesville h2 {
  color: #012f67; }

#gainesville .fa-map-marker {
  color: #012f67; }
  #gainesville .fa-map-marker:hover {
    color: #0573fc; }

.location address {
  padding: 4px 10px;
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  line-height: 1.2; }
  .location address a {
    display: block;
    margin: 5px 0; }
  .location address p, .location address a {
    color: #fff; }
  .location address h4 {
    margin: 1px 0 5px; }

.location .fa-map-marker {
  position: absolute;
  right: 45px;
  top: 30px;
  font-size: 70pt;
  transition: color 500ms; }
  .location .fa-map-marker:hover {
    cursor: pointer; }

.location #map {
  display: none;
  border: 1px solid #333;
  width: 100%; }
  .location #map iframe {
    width: 99%; }

#email .block {
  background: #0251B3; }
  #email .block h2 {
    color: #012f67;
    margin-bottom: 5px; }

#email p {
  color: #fff; }

#email .mc-field-group {
  width: 70%;
  float: left;
  overflow: hidden;
  margin-right: 1%; }
  #email .mc-field-group input {
    border: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }

#email input[type="submit"] {
  float: left;
  width: 20%;
  color: #fff;
  background: #012f67;
  border: none;
  padding: 11px 9px 10px;
  box-sizing: border-box; }
  #email input[type="submit"]:hover {
    cursor: pointer;
    color: #0251B3; }

#contact .successMsg {
  color: #fff;
  font-size: 28pt;
  font-family: 'Oleo Script', cursive;
  text-align: center;
  width: 80%;
  margin: 0 auto; }

#contact .block {
  background: #E41A1F; }
  #contact .block h2 {
    color: #9f1216;
    margin-bottom: 10px; }

#contact p {
  color: #fff;
  font-style: italic;
  text-align: center; }

#contact .fa-envelope-o {
  color: #9f1216;
  font-size: 52pt;
  text-align: center;
  display: block;
  transition: color 500ms; }
  #contact .fa-envelope-o:hover {
    cursor: pointer;
    color: #ed5e61; }

#contact #contactForm {
  display: none; }

#contact ul {
  position: relative;
  height: 50px;
  width: 99%;
  margin: 0 auto;
  overflow: hidden; }
  #contact ul li {
    position: absolute;
    width: 100%;
    right: -110%; }
    #contact ul li.current {
      right: initial;
      left: 0; }
    #contact ul li input, #contact ul li select, #contact ul li textarea {
      width: 96%;
      padding: 10px;
      border: none;
      font-size: 14pt;
      color: #555;
      margin: 0 0 5px 0; }
    #contact ul li input {
      border: 1px solid #9f1216; }

@media (max-width: 850px) {
  #header #nav {
    margin: 5px auto 10px;
    width: 100%; }
  .location, .contact-block {
    float: none;
    margin: 5px auto; } }

@media (max-width: 750px) {
  #header > .wrapper {
    text-align: center; }
  #header #logo {
    float: none;
    margin: 0 auto;
    display: block; }
  #header #nav {
    margin: 5px auto 10px;
    width: auto;
    float: none;
    display: inline-block; }
  .location, .contact-block {
    float: none;
    margin: 5px auto; } }

@media (max-width: 550px) {
  #header #nav {
    margin: 5px auto 10px;
    width: 100%; }
    #header #nav li {
      float: none;
      margin: 0 auto; }
      #header #nav li a {
        display: block;
        border-radius: 0;
        padding: 10px;
        border-bottom: 1px solid #b61519;
        border-top: 1px solid #ea474b;
        transition: background-color 500ms; }
        #header #nav li a:hover {
          background: #ea474b; }
  .location, .contact-block {
    float: none;
    margin: 5px auto; } }
