//Gallery Styles
.gallery, #showcase {
	.gallery-item {
		position: relative;
		float: left;
		margin: 5px;
		width: 300px; 
		height: 225px; 
		overflow: hidden;
		
		&:hover { cursor: pointer; }

		.gallery-icon {
			position: relative;
			& > a { 
				position: relative; 
				img { max-width: 100%; }
			}
		}
		& > .back {
			padding: 10px;
			box-sizing: border-box;

			p {
				color: #fff;
				text-transform: uppercase;
				font-size: 14pt;
				font-weight: bold;
			}

			a#action, a { position: absolute; bottom: 5%; right: 5%; color: #fff; font-size: 14pt; }
			a#photo  { position: absolute; bottom: 5%; left: 5%; color: #fff; font-size: 14pt; width: 20px; }
		}
	}
	.red.card {
		.back { background-color: $primary; }
	}
	.blue.card {
		.back { background-color: $secondary; }
	}
}