body, p, a { -webkit-font-smoothing: antialiased; font-size: 11pt; color: #333; font-family: 'Open Sans', sans-serif; }
a { text-decoration: none; }
p { margin: 0 0 7px; line-height: 1.4; }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 24pt; }
h2 { font-size: 20pt; }
h3 { font-size: 16pt; }

::-webkit-input-placeholder {
   color: lighten($secondary, 15%);
}

:-moz-placeholder { /* Firefox 18- */
   color: lighten($secondary, 15%);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: lighten($secondary, 15%);
}

:-ms-input-placeholder {  
   color: lighten($secondary, 15%);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.seperator { height: 10px; background-color: $secondary; margin: 20px auto; }

.title { font-family: 'Oleo Script', cursive; }

.wrapper {
	width: 98%;
	max-width: 1300px;
	margin: 0 auto;
	overflow: hidden;
}

.single #content.wrapper {
	max-width: 1300px;
	margin: 30px auto;
}

#content.wrapper {
	h1 { margin: 0 0 7px; }
}

#header {
	box-sizing: border-box; 
    margin: 10px auto 5px;
    position: relative;
    width: 100%;

    & > .wrapper { overflow: hidden; margin: 0 auto; min-height: 70px; }

	#logo { 
		color: $primary; 
    	letter-spacing: -2px;
	    line-height: 0.9;
	    text-indent: 1%; 
        width: 255px;
	    float: left;
	    h1 { font-size: 45pt; }
	}

	#nav {
		float: right;
		margin: 20px 0 0 0;

		li {
			float: left;
			margin-right: 7px;
			&:last-child { margin-right: 0; }
			a {
				color: #fff;
				background-color: $primary;
				display: block;
				padding: 5px 10px 7px;
				border-radius: 4px;
				text-align: center;
			}
		}
	}

	.toggleMobileNav {
		color: $primary;
		font-size: 24pt;
		position: absolute;
		right: 4%;
		top: 19px;
		display: none;
	}

	#border {
		background-color: $secondary;
		position: relative;
		overflow: hidden;
		.wrapper { position: relative; }
		p {
			color: #fff; 
			display: block; 
			font-family: 'Open Sans', sans-serif; 
			font-weight: 100; 
			letter-spacing: 0;
		    padding: 0px 0 7px 8px;
		    margin: 0;
		    font-size: 16pt;
		}
		#searchform {
			position: absolute;
			right: 0;
			top: 5px;
			margin: 0;
			width: 55%;

			input {
				background: darken($secondary, 5%);
				border: none;
				font-size: 10pt;
				box-sizing: border-box;
				padding: 0;
				width: 0;
				position: absolute;
				right: 40px;
				color: #eee;
				height: 27px;
			}
			a {
				color: lighten($secondary, 15%);
				font-size: 17pt;
				position: absolute;
		    	right: 0;
				i {}
			}
		}
	}
}

.filter {
	display: block;
	width: 100%;
	height: 100%;
	opacity: .6;
	z-index: 15;
	position: absolute;
}

.filter-red {
	background-color: $primary;
}

.filter-blue {
	background-color: $secondary;
}


.red { 
	.title a { background: $primary; color: #fff; }
	.filter  {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,e41a1f+100&amp;0+0,1+100 */
		// background: -moz-radial-gradient(center, ellipse cover,  rgba(125,185,232,0) 0%, rgba(228,26,31,1) 100%); /* FF3.6+ */
		// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(228,26,31,1))); /* Chrome,Safari4+ */
		// background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,185,232,0) 0%,rgba(228,26,31,1) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-radial-gradient(center, ellipse cover,  rgba(125,185,232,0) 0%,rgba(228,26,31,1) 100%); /* Opera 12+ */
		// background: -ms-radial-gradient(center, ellipse cover,  rgba(125,185,232,0) 0%,rgba(228,26,31,1) 100%); /* IE10+ */
		// background: radial-gradient(ellipse at center,  rgba(125,185,232,0) 0%,rgba(228,26,31,1) 100%); /* W3C */
		background: radial-gradient(ellipse at center,  rgba($primary, .4) 20%, rgba($primary, .7) 100%); /* W3C */
	}
}
.blue { 
	.title a { background: $secondary; color: #fff; }
	.filter {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,e41a1f+100&amp;0+0,1+100 */
		// background: -moz-radial-gradient(center, ellipse cover,  $secondary 0%, rgba(228,26,31,1) 100%); /* FF3.6+ */
		// background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($secondary), color-stop(100%,rgba(228,26,31,1))); /* Chrome,Safari4+ */
		// background: -webkit-radial-gradient(center, ellipse cover,  $secondary 0%,rgba(228,26,31,1) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-radial-gradient(center, ellipse cover,  $secondary 0%,rgba(228,26,31,1) 100%); /* Opera 12+ */
		// background: -ms-radial-gradient(center, ellipse cover,  $secondary 0%,rgba(228,26,31,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba($secondary, .4) 20%, rgba($secondary, .7) 100%); /* W3C */
	}
}

//Search Styles
.search-results > #content.wrapper {
	margin-top: 30px; 
}

.serp_item {
	margin: 0 0 20px 0;
	h2.title { 
		a {
			font-size: 22pt;
		}		
	}

	.featured_image {
		width: 30%;
		float: left;
    	margin: 0 10px 0 0;
		img { width: 100%; }
	}

	.post_excerpt {
		float: right;
		width: 69%;
	}
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: $secondary;
	#footerMenu {
		width: 230px;
		margin: 12px auto 0;
		li {
			float: left;
			margin: 0;
			padding: 0 2%;
			border-right: 1px solid lighten($secondary, 15%);
			a { color: lighten($secondary, 15%); }
			&:last-child { border-right: none; }
		}
	}
}

#emailForm { 
	display: none; 
	position: absolute;
    top: -100%;
    background: #eee;
    width: 70%;
    left: 16%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 200;
}

.shade {
	width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    bottom: -100%;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

@import 'partials/gallery';