@media (max-width: 550px) {
	#header {
		#logo { line-height: 1.1; }
	    #nav {
		    margin: 5px auto 10px;
		    width: 100%;
		    display: none;

		    li {
		    	float: none;
		    	margin: 0 auto;
		    	a { 
		    		display: block; 
		    		border-radius: 0;
		    		padding: 10px;
		    		border-bottom: 1px solid darken($primary, 10%);
		    		border-top: 1px solid lighten($primary, 10%);
		    		transition: background-color 500ms;
		    		&:hover { background: lighten($primary, 10%); }
		    	}
		    }
	    }
	    .toggleMobileNav { display: block; }
	    #border {
	    	
	    	min-height: 45px;
	    }
	}
	.location, .contact-block {
		float: none;
		margin: 5px auto;
	}
	#hero {
		.hero-left, .hero-right {
			float: none;
			width: 100%;
		}
		.hero-left {
			margin: 0 auto 10px;
		}
		.hero-right {
			#message1 {
				font-size: 20pt;
				line-height: 1.4;
				margin: 0 0 10px;
				padding-bottom: 5px;
				text-align: center;
				i.fa {}
			}
		}
	}
	
	#projects {
		float: none;
		width: 100%;
		margin: 0 auto;
		#projects_and_highlights li a {
			padding: 10px 5px;
		}
	}

	.page {
		#content.wrapper {
			margin-top: 0px;
		}
	}
}