@media (max-width: 850px) {
	#header {
	    #nav {
		    margin: 5px auto 10px;
		    width: 100%;
	    }
	}
  .location, .contact-block {
  	float: none;
  	margin: 5px auto;
  }
}

@media (max-width: 750px) {
	#header {
		& > .wrapper { text-align: center; }
		#logo {
		    float: none;
		    margin: 0 auto;
		    display: block;
		}
	    #nav {
		    margin: 5px auto 10px;
		    width: auto;
		    float: none;
		    display: inline-block;
	    }
	}
  .location, .contact-block {
  	float: none;
  	margin: 5px auto;
  }
}