body, p, a { -webkit-font-smoothing: antialiased; font-size: 11pt; color: #333; font-family: 'Open Sans', sans-serif; }
a { text-decoration: none; }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 24pt; }
h2 { font-size: 20pt; }
h3 { font-size: 16pt; }

.title { font-family: 'Oleo Script', cursive; }

.wrapper {
	width: 99%;
	max-width: 1200px;
	margin: 0 auto;
}

#header {
	box-sizing: border-box;
	margin: 10px auto 5px; 
	position: relative;

	#logo { 
		color: $primary; 
		font-size: 45pt;
    	letter-spacing: -2px;
	    line-height: 0.9;
	    text-indent: 1%; 

		span { 
			color: #fff; 
			display: block; 
			font-family: 'Open Sans', sans-serif; 
			font-weight: 100; 
			letter-spacing: 0;
		    background-color: #0251B3;
		    padding: 6px 5px 10px;
		    font-size: 16pt;
		}
	}

	#nav {
		position: absolute;
	    right: 0;
	    top: 21px;
	    width: 400px;
		li {
			float: left;
			margin-right: 7px;
			a {
				color: #fff;
				background-color: $primary;
				display: block;
				padding: 5px 10px 7px;
				border-radius: 4px;
				text-align: center;
			}
		}
	}
}

.filter {
	display: block;
	width: 100%;
	height: 100%;
	opacity: .6;
	z-index: 5;
	position: absolute;
}

.filter-red {
	background-color: $primary;
}